.list-page-container {
    display: flex;
    flex-direction: column;
    gap: 38px;
    align-items: center;

}

.adding-container {
    display: flex;
    gap: 12px;
}

.list-page-input {
    max-width: 204px;
}

.list-circle {
    list-style-type: none;
    display: flex;
    padding: 0;
    margin: 80px 0 0 0;
}

.list-items {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-left: 16px;
    position: relative;
}

.list-circle-top {
    position: absolute;
    top: -75px;
    left: 13px;
}

.list-circle-bottom {
    position: absolute;
    top: 120px;
    left: 13px;
}

.notification {
    margin: 25px 0;
    color: #5f27cd;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
input[type="number"] {
    -moz-appearance: textfield;
}