.container {
    display: flex;
    margin: 0 auto;
    max-width: 830px;
    gap: 12px;
}

.stack-input {
    max-width: 377px;
}

.stack-btn:last-child {
    margin: 0 0 0 68px;
}

.stack-list {
    display: flex;
    max-width: 368px;
    max-height: 140px;
    list-style-type: none;
    padding: 0;
    margin: 48px 0 0 0;
    gap: 16px;

}