.container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.container-radio-btn {
    max-width: 980px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 52px;
}

.container-radio-input {
    display: flex;
    gap: 40px;
}

.container-btn {
    display: flex;
}

.sort-btn {
    margin: 0 12px 0 0;
}

.sort-btn:last-child {
    margin: 0 0 0 68px;
}

.column-container {
    display: flex;
    justify-content: center;
    padding: 0;
    list-style-type: none;
    max-width: 940px;
    max-height: 340px;
    margin: 48px 0 0 0;
    gap: 10px;
}

.column-container li {
    display: flex;
    flex-direction: column-reverse;
}

.array-column {
}

.notification {
    margin: 80px 0;
    color: darkorchid;
}